.menu-header {
    position: absolute;
    width: 100%;
    height: 100vh;
    background: #C0C0C070;
    cursor: pointer;
}

.menu-header .content {
    width: 100%;
    height: 520px;
    background-color: #FFFFFF;
    cursor: default;
}

.menu-header .content-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 24px 24px 0 0 ;
}

.menu-header .close-btn {
    width: 32px;
    height: 32px;
}
