/* Перенести стили кнопки MenuButton - riot-header-menu в отдельный файл */

.riot-header {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 80px;
    background-color: #111112;
}

.riot-header-menu {
    width: 100px;
    height: 100%;
    padding-left: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.riot-header-logo {
    position: relative;
    width: 75px;
    height: 24px;
    margin: 0;
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
}

/* .riot-header-menu svg {
    pointer-events: none;
} */
.riot-header-menu svg:hover{
    fill: #EB0029;
}
