* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  word-break: break-word;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
}

.root {
  width: 100%;
}

body {
  margin: 0;
  display: flex;
  place-items: start;
  min-width: 320px;
  min-height: 100vh;
}
